# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\openjfx-11.0.2_windows-x64_bin-sdk\javafx-sdk-11.0.2\lib\javaFXdemo2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
